<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<script>
  var str = 'STATUS_MYSQL_MASTER'
  var arr = str.split('_')
  console.log(arr[2].charAt(0).toLocaleUpperCase()+(arr[2].slice(1)).toLocaleLowerCase());

  console.log('第一次提交');
</script>
</body>
</html>
