<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<script>
  var arr = ['21332', 'fv李四', '','edfx_21','angel','王五', '赵六12','fv李四','阿三','11s'];


  if (arr.length != 0) {
    // arr.sort((a, b) => a.localeCompare(b, 'zh-Hans-CN', {sensitivity: 'accent'}))
    // arr.sort(function (a,b) {
    //   a.localeCompare(b, 'zh-Hans-CN', {sensitivity: 'accent'})
    // })
    console.log(arr);

  }

</script>
</body>
</html>
