<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<script>
  var list = [
    {
      server_id: "server-umc1", ip:
        "172.16.122.1", rack:
        "2", cpu:
        "2", memory:
        "2222",
    },
    {
      server_id: "server-umc4",
      ip: "172.16.122.4",
      rack:
        "4", cpu:
        "2", memory:
        "2222",
    }
    ,
    {
      server_id: "server-umc5",
      ip: "172.16.122.5",
      rack: "测一下",
      cpu: "2",
      memory: "2222",
    }
    ,
    {
      server_id: "server-umc3",
      ip: "172.16.122.3",
      rack: "",
      cpu: "2",
      memory: "2222"
    },
    {
      server_id: "server-umc2",
      ip: "172.16.122.2",
      rack: "荒谬",
      cpu: "2",
      memory: "2222",
    }]
  console.log(list);
  console.log(list.sort());
</script>
</body>
</html>
